{{define "title"}}YouHero{{end}}
{{define "content"}}
<div id='my-video'></div>
<span class="listing_title">{{ $.header }}</span><br /><br />
	{{range $index, $item := $.entries}}
	<div class="row">
		<div class="span3">
      <div class="flowplayer">
</div>
			<a class="yt" title="{{ $item.Title }}" href="#" onclick="javascript:jwplayer().playlistItem({{$index}})"><img class="thumb" src="{{ $item.Thumb }}" alt="{{ $item.Title  }}"/></a><br/><br/>
  			<span class="video_rating">{{ .Rating }} </span>
		</div>
		<div class="span8">
          <span class="video_title"><a href="#" onclick="javascript:jwplayer().playlistItem({{$index}});">{{ $item.Title }}</a></span><br />
          <span class="video_description">{{ $item.Description }}</span><br /><br>
          <a href="{{.Url}}" target="_blank" class="yt noplay">youtube link</a>
          <span class="video_category"><strong>{{ $item.Category }}</strong></span>
          <span class="video_published"> | published on {{ $item.GetPublishedTime }}</span><br>          
          <span class="video_keywords"><strong>Keywords:</strong> {{ $item.Keywords }} </span><br>
        </div>	
    <div class="row"><div class="span4"><hr class="slight"/></div></div>
    </div>
    {{else}}
    <p>Sorry, no videos found!</p>   
	{{end}}  
{{end}}
{{define "extrascripts"}}
<script src="http://jwpsrv.com/library/PX3MDuS_EeKytRIxOQulpA.js"></script>
<script type="text/javascript">
jwplayer("my-video").setup({    
    playlist: [
      {{range $.entries}}
      {
         	file: '{{.Url}}',         	
         image: '{{ .Thumb }}',
         title: "{{ .Title  }}",        
      },
      {{end}}    
    ],
    listbar: {
        position: 'right',
        size: 320
    },
    width: '100%',
    height: 500,    
    autostart: 'true',
    repeat: 'always',
    shuffle: 'false'
});
$(function(){ 
  $("ul.nav>li:eq(0)").addClass("active"); 
});
</script>
{{end}}
