{{define "title"}}YouHero{{end}}
{{define "content"}}
<span class="listing_title">{{ $.header }}</span><br /><br />
	{{range $.entries}}
	<div class="row">
		<div class="span3">
			<a class="yt" title="{{ .Title }}" href="{{.Url}}"><img class="thumb" src="{{ .Thumb }}" alt="{{ .Title  }}"/></a><br/><br/>
  			<span class="video_rating">{{ .Rating }} </span>
		</div>
		<div class="span8">
            <span class="video_title">{{ .Title }}</span> - <a href="{{.Url}}" class="video_title noplay">youtube</a><br />
      		<a href="{{.Url}}" class="video_title noplay">{{ .Title }}</a><br />
      		<span class="video_description">{{ .Description }}</span><br /><br />
			<span class="video_category"><strong>{{ .Category }}</strong></span>
  			<span class="video_published"> | published on {{ .GetPublishedTime }}</span><br />
  			<span class="video_keywords"><strong>Keywords:</strong> {{ .Keywords }} </span><br />
  		</div>	
    <div class="row"><div class="span4"><hr class="slight"/></div></div>
    </div>
    {{else}}
    <p>Sorry, no videos found!</p>   
	{{end}}
{{end}}
{{define "extrascripts"}}
<script type="text/javascript">
var YWPParams = {autoplay:{{$.autoplay}} };
$(function(){	
	$("ul.nav>li:eq(0)").addClass("active");
});
</script>
{{end}}
