{{define "title"}}YouHero{{end}}
{{define "extrahead"}}
<script src="http://jwpsrv.com/library/PX3MDuS_EeKytRIxOQulpA.js"></script>
{{end}}
{{define "content"}}
<div id='my-video'></div>
<span class="listing_title">{{ $.header }}</span><br /><br />
	{{range $.entries}}
	<div class="row">
		<div class="span3">
      <div class="flowplayer">
</div>
			<a class="yt" title="{{ .Title }}" href="{{.Url}}"><img class="thumb" src="{{ .Thumb }}" alt="{{ .Title  }}"/></a><br/><br/>
  			<span class="video_rating">{{ .Rating }} </span>
		</div>
		<div class="span8">
          <span class="video_title">{{ .Title }}</span>
          <a href="{{.Url}}" target="_blank" class="yt noplay">youtube link</a>
          <br />
          <span class="video_description">{{ .Description }}</span><br /><br />
          <span class="video_category"><strong>{{ .Category }}</strong></span>
          <span class="video_published"> | published on {{ .GetPublishedTime }}</span><br />
          <span class="video_keywords"><strong>Keywords:</strong> {{ .Keywords }} </span><br />
        </div>	
    <div class="row"><div class="span4"><hr class="slight"/></div></div>
    </div>
    {{else}}
    <p>Sorry, no videos found!</p>   
	{{end}}  
{{end}}
{{define "extrascripts"}}

<script type="text/javascript">
jwplayer("my-video").setup({    
    playlist: [
    {{range $.entries}}
    {
        file: '{{.Url}}',
        image: '{{ .Thumb }}',
        title: "{{ .Title  }}",        
    },
    {{end}}
    
    ],
    width: '100%',
    height: '600',
    listbar: {
        position: 'right',
        size: 320
    },
});

</script>
{{end}}
